# --- IDE / Visual Studio md ---
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.user
*.suo
*.VC.db
*.VC.opendb
*.opendb
*.db-shm
*.db-wal

# --- IntelliSense / PCH cache ---
ipch/
*.ipch
*.pch
*.aps

# --- Build ---
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Debug*/
Release*/
x64/
x86/
[Ww]in32/
*.obj
*.o
*.iobj
*.pdb
*.ipdb
*.ilk
*.exp
*.exe
*.dll
*.lib
*.idb
*.tlog
*.lastbuildstate
*.cache
*.log
*.tmp
*.rsp
*.recipe
*.tlog/

# --- IDE ---
.vscode/

# --- Windows OS ---
Thumbs.db
Desktop.ini

# --- Project ---
dependencies

# --- Misc ---
.idea/
imgui.ini
dependencies/bin/imgui/obj/
dependencies/bin/imgui/bin/
Client
!Client/Scripts
libengine.so
nobuild.exe.old
